@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Lato:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px;
    background-color: #0095E9;
    justify-content: space-between;
}
.itens-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho-imagem-logo {
    height: 50px;
}
.input-group{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 4px;
}

.input-group input{
    all: unset;
    padding: 0.70rem;
    width: 150px;
}

.input-group button{
    all: unset;
   border: none;
   color: #0095E9;
   padding: 0px 1.200rem;
   font-size: 1.25rem;
   height: 100%;
   border-radius: 0px 4px 4px 0px;
   cursor: pointer;
}

.icon{
    color: #EDF8FF;
    font-size: 1.30rem;
    padding-right: 15px;
}

.icon button{
    all: unset;
}

.icon a{
    text-decoration: none;
    color: #EDF8FF;
}

.cabecalho-imagem-navBar{
    height:70px;
}
nav{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 10px;
   background-color: #EDF8FF;
}

nav a{
    color: #434343;
}



.conteudo{
    margin-bottom: 48px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}


.caixa{
    height: 610px;
    border-radius: 5px;
}

.texto-caixa-grande{
    color: #434343;
}
.title-c a{
    color:#000000;
}

.caixas-pequenas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 30px;
    
}
.c1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.textos-caixas{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 200px;
    width: 190px;
    padding: 5px;
    color: #434343;
}
.title-c{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 99%;
}


.caixa1{
   height: 200px;
   border-radius: 5px;
}

.c2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.caixa2{
    height: 200px;
    border-radius: 5px;
}

.c3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.caixa3{
    height: 200px;
    border-radius: 5px;
}
.container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    padding:40px;
    gap: 60px;
}
.titulo-container{
    padding-left: 45px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 99%;
}

footer {
    width: 100%;
    color: #EDF8FF;  
}

footer .footer-coluna1 p{
    color:#5e5c5c;
}

footer .footer-coluna2 p{
    color:#5e5c5c;
}

.footer-container{
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 1.5rem;

}

.footer-coluna2{
    padding-left: 20%;
}

.acesso a{
    color: #EDF8FF;
    
}

.acesso a:hover{
    color: #0095E9;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    padding-right: 80%;

}

.copyright{
    display: flex;
    justify-content: center;
    background-color: #0095E9;
    font-size: 0.9rem;
    padding: 1.5rem;
    color: #EDF8FF;
}

/* pagina contato */
.contato-container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: center;
}

.contato-mensagem{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 90px;
    color: #252525;
}
.contato-mensagem-titulo{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 99%;
    color: #252525;
}
.contato-mensagem-textinho{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 99%;
}
.formulario-contato{
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: #F1F1F1;
    padding: 40px;
    align-items: center;
    border-radius: 5%;
}
.contato-input{
    border: #000000 ;
    padding: 0.70rem;
    background: #D9D9D9;
    border-radius: 15px;
    width: 510px;
    height: 60px;
}
.contato-input-div{
    padding: 20px;
}
.contato-input-mensagem{
    border: #000000 ;
    padding: 0.70rem;
    background: #D9D9D9;
    border-radius: 15px;
    width: 510px;
    height: 85px;
}
.form-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contato-mensagem-textinho-div{
    padding: 22px;
    align-self: flex-start;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 99%;
}
.contato-bt{
    padding-top: 60px;
}
.contato-botao{
    all: unset;
    padding: 0.30rem;
    text-align: center;
    color: #F1F1F1;   
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 99%;
    align-items: center;
    width: 180px;
    height: 60px;
    background: #0095E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.contatoAdmin{
    padding: 15%;
    text-align: center;
    
    
}

/* contato admin */

.conteudo-admin{
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}
.conteudo-admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 40px;
    flex-wrap: nowrap;
}
.conteudo-admin-container-caixinha{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.mensagem-admin{
    padding: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 99%;
    color: #252525;

}



.parte-da-imagem{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.imagem-admin{
    padding: 10px;
}
.assunto{
    padding: 10px;
}
.user-admin{
    width: 100px;
}

.parte-da-letra{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 200px;
    padding: 20px;
    flex-wrap: nowrap;
}
.caixinha-contato{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 20px;

}
.nome{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 99%;
    letter-spacing: -0.055em;
    color: #010101;
}
.email{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 99%;
    letter-spacing: -0.055em;
    color: #616161;
    padding-top: 5px;
}

/* Login */
.textoLogin{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
}

.login{
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: center;
    justify-content: space-around;
}

.tela1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.caixa-login{ 
    all: unset;
    background-color: #D9D9D9;
    padding: 0.70rem;
    border-radius: 15px;
    width: 400px;
    height: 60px;
}


.botao-login{
    all: unset;
    padding: 0.20rem;
    text-align: center;
    color: #F1F1F1;   
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 99%;
    align-items: center;
    width: 130px;
    height: 40px;
    background: #0095E9;
    border-radius: 18px;
}

.tela2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botao-login-cadastro{
    all: unset;
    padding: 0.30rem;
    text-align: center;
    color: #F1F1F1;
    width: 150px;
    height: 40px;
    background: #0095E9;
    border-radius: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 99%;
    align-items: center;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 40px;
    flex-wrap: nowrap;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-nao-cadastrado{
    padding: 10px;

}

.login-nao-cadastrado a{
    color: #232222;
}

.login-nao-cadastrado a:hover{
    color: #0095E9;
}
